@font-face {
    font-family: "Phoenix Squad";
    src: url(../fonts/Phoenix_Squad.ttf);
}

@font-face {
    font-family: "Marvelousd";
    src: url(../fonts/Marvelous.ttf);
}

@font-face {
    font-family: "Jumber";
    src: url(../fonts/Jember_Sketch.ttf);
}