@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

h2{
    font-family: "Phoenix Squad", sans-serif;
    font-size: 32px;
}

.titulo{
    font-family: "Phoenix Squad", sans-serif;
}